/* styles/global.css */
@import "tailwindcss";
@import "@fontsource-variable/onest";

@theme {
  /* Tema base: Web Light (predeterminado si no hay dark-mode) */
  --font-display: "Onest Variable", "sans-serif";

  --color-realbackground: #ffffff;
  --color-background: #ffffff;
  --color-txt: #000000;
  --color-span: #0a8659;
  --color-2nd: #0000ff;
  --color-navbartxt: #a41818;
  --color-nvbg: #dddddd;
  --color-borders: #2c2c2c;
  --color-fter: #007acc;
  --color-spanLink: #0000ff;
  --color-skbg: #0000ff2b;

  --color-bg1: #dddddd;
  --color-bg2: #ffffff;
  --bg2-gradient: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgb(3 0 255 / 83%),
    rgba(255, 255, 255, 0)
  );
}

/* Modo Web Claro */
.web {
  /* Colores base de @theme */
  --color-realbackground: #ffffff;
  --color-bg2: #ffffff;
  --bg2-gradient: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgb(3 0 255 / 83%),
    rgba(255, 255, 255, 0)
  );
  --color-skbg: #0000ff2b;
}

/* Modo Web Oscuro */
.web.dark-mode {
  --color-realbackground: #1e1e1e;
  --color-background: #1e1e1e; /* gris oscuro */
  --color-txt: #ffffff; /* white */
  --color-span: #569cd6; /* azul claro */
  --color-2nd: #cc8f77; /* naranja suave */
  --color-navbartxt: #6a9955;
  --color-nvbg: #3c3c3c; /* verde oliva */
  --color-borders: #2c2c2c;
  --color-spanLink: #dcdcaa;
  --color-bg1: #252526;
  --color-bg2: #161515;
  --color-skbg: #0000ff2b;
}

/* Modo CV Claro */
.cv {
  --color-realbackground: #ebeff8;
  --color-background: #ffffff;
  --color-txt: #000000;
  --color-span: #0a8659;
  --color-2nd: #0000ff;
  --color-navbartxt: #a41818;
  --color-nvbg: #dddddd;
  --color-borders: #2c2c2c;
  --color-fter: #007acc;
  --color-spanLink: #0000ff;

  --color-bg1: #dddddd;
  --color-bg2: #f3f3f3;
  --color-skbg: #0b0bf52b;
}

/* Modo CV Oscuro */
.cv.dark-mode {
  --color-background: #1e1e1e; /* gris oscuro */
  --color-txt: #ffffff; /* white */
  --color-span: #569cd6; /* azul claro */
  --color-2nd: #cc8f77; /* naranja suave */
  --color-navbartxt: #6a9955;
  --color-nvbg: #3c3c3c; /* verde oliva */
  --color-borders: #2c2c2c;
  --color-spanLink: #dcdcaa;
  --color-bg1: #252526;
  --color-bg2: #161515;
  --color-skbg: #0000ff2b;
}

#navigation-compact a.active {
  display: flex;
  background-color: var(--color-background);
  border-radius: 50%;
}

.web.dark-mode {
  .profile {
    background-color: var(--color-bg2);
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0)
    );
  }
}

.cv.dark-mode {
  .profile {
    background-color: var(--color-bg2);
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0)
    );
  }
  .skills-component {
    background-color: #0000ff2b;
  }
}

.web {
  .expt {
    margin-top: 120px;
  }
  .profile {
    background-color: var(--color-bg2);
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgb(3 0 255 / 83%),
      rgba(255, 255, 255, 0)
    );
  }

  .title{
    margin-left: 0;
  }

  .projgrid{
    width: inherit;
  }
}

/* CV styles */

.cv {
  .profile-container{
    padding-left: 0;
  }

  .pcontainer {
    height: 1480px;
    position: relative;
  }
  .title {
    padding-top: 0;
    align-items: center;
    margin-left: 0px;
  }

  .name {
    margin-bottom: 20px;
  }

  .profile-txt {
    font-weight: normal;
  }

  .intro-container {
    display: flex;
    flex-direction: row;
  }
  .empty-top {
    height: 30px;
    background-color: var(--color-realbackground);
  }
  .hey {
    display: none;
  }
  .available {
    display: none;
  }
  .profile-container {
    width: 30%;
  }
  .profile {
    border-radius: 0%;
    width: 310px;
    height: 300px;
    background-color: #ffffff;
    background-image: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgb(3 0 255 / 83%),
      rgba(255, 255, 255, 0)
    );
  }
  .available-effect {
    display: none;
  }
  .phone {
    display: flex;
  }
  .email {
    display: flex;
  }
  .web {
    display: flex;
  }
  .job-icons {
    display: none;
  }
  .description {
    padding-top: 20px;
    font-size: 1.2em;
    margin-bottom: 30px;
    position: absolute;
    left: 401px;
    width: 522px;
  }
  .info-section {
    display: flex;
    position: relative;
    width: 100%;
  }
  .journey {
    display: none;
  }

  .icons2 {
    width: 20px;
    height: 20px;
  }

  .icons3 {
    width: 20px;
    height: 20px;
  }

  /* SKILLS */
  .skills-component {
    padding-top: 15px;
    width: 300px;
    order: 1;
    position: absolute;

    background-color: #dddddd;
  }
  .skills-container {
    gap: 20px;
    margin-bottom: 0;
    height: 1166px;
  }
  .skills-options {
    gap: 20px;
  }
  .skills-details {
    margin-bottom: 20px;
    gap: 0;
  }
  .section-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: bold;
  }
  .grid-item {
    padding-top: 10px;
    align-items: center;
  }
  .skills-titles {
    margin-bottom: 10px;
    font-size: 1rem;

    color: var(--color-navbartxt);
  }
  .titles-container {
    margin-bottom: 30px;
  }

  .skill-title {
    font-size: 1.1rem;
  }
  .skills-content {
    gap: 30px 5px;
    margin-bottom: 50px;
  }
  .skills-content2 {
    gap: 3px;
    display: flex;
    flex-direction: column;
  }
  .skills2title {
    display: none;
  }
  .skills-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 30px;
  }
  .icons {
    width: 20px;
    height: 20px;
    display: none;
  }

  .p-skills-txt {
    display: none;
  }

  /*experience*/

  .experience {
    position: relative;
    left: 0px;
    top: 30px;
  }

  .edescription {
    width: 464px;
    right: 100px;
  }
  .line,
  .relative::before {
    border-left: none;
    content: none;
    display: none;
  }
  .experience-component {
    width: 70%;
    order: 2;
    position: absolute;
    top: 152px;
    left: 300px;
  }
  .descriptionexp {
    bottom: 55px;
  }

  /*education*/
  .ptitle {
    width: 220px;
    margin-bottom: 15px;
    position: absolute;
    left: 220px;
    bottom: 15px;
  }
  .csection {
    position: absolute;
    top: 679px;
    width: 792px;
    left: 270px;
  }
  .certificate-card {
    width: 670px;
  }
  .certificate-thumbnail {
    position: absolute;
    width: 141px;
    height: 108px;
  }

  /*projects*/
  .projects {
    width: 673px;
  }
  .project-card {
    width: 219px;
    height: 180px;
    padding: 5px;
    gap: 0;
  }
  .title {
    font-size: 0.8rem;
  }

  .projects-section {
    position: absolute;
    top: 1049px;
    left: 335px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    width: 670px;
    position: absolute;

    gap: 5px;
  }
  .psubtitle {
    font-size: 0.6rem;
  }
  .project-thumbnail {
    width: 60px;
    height: 50px;
  }
  .project-thumbnail:hover {
    scale: 3;
    transition: 300ms;
  }
  .pfeat {
    display: none;
  }
  .languaget {
    font-size: 0.6rem;
  }
  .picon {
    height: 20px;
  }
  .languageusedt {
    display: none;
  }
  .pdescription {
    margin-top: 5px;
    font-size: 0.6rem;
    overflow: visible;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: unset;
  }
  .project-card:hover {
    scale: 1.5;
    transition: 300ms;
  }
  footer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /*/////////////NAV/////////////*/

  * {
    text-align: center;
    align-items: center;
  }

  .headerP {
    display: flex;
    flex-direction: column;
  }

  .switchwc {
    display: none;
  }

  .titles-container {
    margin-bottom: 3rem;
  }

  .switchmov {
    margin-top: 0px;
  }

  /*/////////////CONTAINER/////////////*/
  .pcontainer {
    width: 100vw;
  }

  .container {
    margin-top: 0px;
  }
  /*/////////////TITLE/////////////*/
  .title {
    padding-top: 1rem;
  }

  .profile {
    width: 150px;
    height: 150px;
  }
  .available {
    height: 40px;
    width: 130px;
    font-size: 1rem;
  }

  .name {
    font-size: 4rem;
  }
  .description {
    width: 85%;
  }

  .job-icons {
    display: flex;
    justify-content: center;
  }
  /*/////////////EXPERIENCE/////////////*/

  .experience {
  }

  .icons2 {
    height: min-content;
    width: min-content;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: bold;
    width: min-content;
  }

  .edescription {
    width: 16.4rem;
  }

  ol{
    display: flex;
    flex-direction: column;
  }

  .expTxt{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  /*/////////////HISTORY/////////////*/

  .container {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .order-1 {
    width: 90%;
    justify-self: center;
  }

  .journeyTitleContainer {
    margin-bottom: 0;
    margin-top: 5rem;
  }

  .historyLine {
    display: none;
  }

  .historyNumber {
    display: none;
  }

  .historyContainer {
    display: block;
  }

  .historyContainer2 {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .historyBoxes {
    padding: 0;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  /*/////////////SKILLS/////////////*/
  .skills-container{
    margin-bottom: 2rem;
    gap: 0;
    margin-top: 2rem;
  }

  .icons3 {
    width: 3rem;
    height: 3rem;
  }

  .icons {
    width: 2rem;
    height: 2rem;
  }
  .skill-title {
    font-size: 0.8rem;
  }

  .skills-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .skills-content2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .grid-item {
    width: 80%;
  }

  .skillTitleContainer {
    margin-top: 0;
  }

  .skills-details{
    margin-bottom: 2rem;
  }

  /*/////////////PERSONAL SKILLS/////////////*/

  /*/////////////CERTIFICATES/////////////*/

  .certificates{
    margin-bottom: 5rem;
  }

  .certificate-modal-content{
    height: 90%;
  }

  .certificate-summary{
    width: 20rem;
    justify-self: center;
    }
    
    .certificate-modal-info{
    width: 20rem;
    }

  /*/////////////PROJECTS/////////////*/

  .projects{
    display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
  }

  .project-card {
    justify-self: start;
    height: 540px;
    width: 90%;
    gap: 2rem;
  }

  .projHead{
    flex-direction: column;
  }

  .pfeat{
    display: none;
    
  }

  .projgrid{
    gap: 1rem 4rem
  }

  .picon{
    width: min-content;
  }

  .project-modal-main-image-container{
    align-items: center;
    display: flex;
  }

  /*/////////////FOOTER/////////////*/

  .footcontaier{
    margin-top: 0;
  }
  
}
