---
import '../styles/global.css';
import NavBar from '../components/Navbar.astro';
import Welcome from '../components/Welcome.astro';

const InitialMode = "web";
---

<div id="container" class={`${InitialMode} bg-borders p-2 min-h-screen`}>
  <div class="section py-16 md:py-10 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl bg-background">
    <div class="flex justify-center mt-5 space-x-4 p-4">
      <div>
        <span class="text-txt">Modo:</span>
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" id="switch-modo" class="sr-only peer">
          <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:bg-blue-600 transition"></div>
          <div class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full peer-checked:translate-x-5 transition"></div>
          <span class="ml-2 text-txt">Web / CV</span>
        </label>
      </div>
      <div>
        <span class="text-txt">Tema:</span>
        <label class="relative inline-flex items-center cursor-pointer">
          <input type="checkbox" id="switch-dark" class="sr-only peer">
          <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:bg-gray-600 transition"></div>
          <div class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full peer-checked:translate-x-5 transition"></div>
          <span class="ml-2 text-txt">Claro / Oscuro</span>
        </label>
      </div>    
    </div>

    <NavBar InitialMode={InitialMode} />

    <h1 id="tittle" class="flex justify-center text-3xl font-bold text-txt">
      Mauricio Palacio
    </h1>
    <h2 id="description" class="flex justify-center text-span">
      SOFTWARE DEVELOPER
    </h2>

    <Welcome />
  </div>
</div>

<script>
  const container = document.getElementById("container")!;
  const switchModo = document.getElementById("switch-modo")!;
  const switchDark = document.getElementById("switch-dark")!;

  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  if (prefersDark) {
    container.classList.add("dark-mode");
    switchDark.checked = true; 
  }

  
  switchModo.addEventListener("change", () => {
    if (container.classList.contains("web")) {
      container.classList.remove("web");
      container.classList.add("cv");
    } else {
      container.classList.remove("cv");
      container.classList.add("web");
    }
  });

  // Cambiar entre Claro y Oscuro
  switchDark.addEventListener("change", () => {
    container.classList.toggle("dark-mode");
  });
</script>

<style>
  .section {
    
  }
</style>