---
const certificates = [
{
    intitution: "Harvard University",
    year: "2024",
    Course: "CS50 Introduction to Computer Science",
    Link: "https://cs50.harvard.edu/certificates/5c93c8a7-92a2-4e23-9980-67fe32de04d3",
    Summary: "Explored the fundamentals of computer science, including algorithms, data structures, and problem-solving with C, Python, and SQL. Gained a solid foundation in programming concepts and web development basics."
},
{
    image: "cs50.png",
    institution: "Institution 2",
    year: "2024",
    link: "https://example.com/cert2",
    summary: "Mastered advanced JavaScript and frameworks.",
  },
  {
    image: "cs50.png",
    institution: "Institution 2",
    year: "2024",
    link: "https://example.com/cert2",
    summary: "Mastered advanced JavaScript and frameworks.",
  },
]
---

<div class="container flex flex-col">
    <h2 class="text-txt text-5xl text-center font-bold">CERTIFICATES</h2>

</div>