---
const experiences = [
    {
        etitle: "Freelance",
        company: "By myself",
        edate: "2024-preset",
        edescription: "Developed two landing pages for clients with features like anti-robot security, email confirmations, and database integration. Improved user experience with filters and responsive design, while enhancing skills in web security, session management, and styling through self-driven projects."
    },
]
---

<h2 class="text-txt text-5xl text-center mb-10 font-bold">EXPERIENCE</h2>
<section class="" data-experience={JSON.stringify(experiences)}>

</section>