---

---

<div class="bg-bg flex items-center gap-y-20 mt-30 flex-col">
  <h1 class="text-txt text-5xl">Skills</h1>
  <div class="flex flex-col items-center gap-y-15">
    <h2 class="text-txt text-4xl">technologies I have worked with</h2>
    <div class="flex flex-col items-center text-center">
      <h3 class="text-txt text-3xl mb-15">Frontend</h3>
      <div class="grid grid-cols-3 gap-20 justify-items-center">

        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="react" src="React-icon.svg.png" />
            <h4 class="text-txt text-2xl">React</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="astro" src="astro-seeklogo.png" />
            <h4 class="text-txt text-2xl">Astro</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="Tailwind" src="Tailwind_icon.png" />
            <h4 class="text-txt text-2xl">Tailwind</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30" alt="html" src="html-icon.svg" />
            <h4 class="text-txt text-2xl">HTML</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="css" src="CSS3_logo.png" />
            <h4 class="text-txt text-2xl">CSS</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="javascript" src="javascript-icon.svg" />
            <h4 class="text-txt text-2xl">JavaScript</h4>
        </div>
      
    </div>
    </div>
    <div class="flex flex-col items-center text-center">
        <h3 class="text-txt text-3xl mb-15">Backend</h3>
        <div class="grid grid-cols-2 gap-20 justify-items-center">
  
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Node" src="node-icon.png" />
              <h4 class="text-txt text-2xl">Node</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Express" src="express-js.png" />
              <h4 class="text-txt text-2xl">Express</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Flask" src="flask-icon.png" />
              <h4 class="text-txt text-2xl">Flask</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30" alt="Python" src="Python-logo.png" />
              <h4 class="text-txt text-2xl">Python</h4>
          </div>    
      </div>
      </div>
      <div class="flex flex-col items-center text-center">
        <h3 class="text-txt text-3xl mb-15">Data Bases</h3>
        <div class="grid grid-cols-2 gap-20 justify-items-center">
  
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="MongoDB" src="MongoDB_Logo.svg.png" />
              <h4 class="text-txt text-2xl">MongoDB</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="SQL" src="sqlite-icon.png" />
              <h4 class="text-txt text-2xl">SQL</h4>
          </div>

      </div>
      </div>
  </div>
</div>
