---
import ReactIcon from "./Icons/ReactIcon.astro";
import HTMLIcon from "./Icons/HTMLIcon.astro";
import TailwindIcon from "./Icons/TailwindIcon.astro";
import AstroIcon from "./Icons/AstroIcon.astro";
import SkillsIcon from "./Icons/SkillsIcon.astro";
import CSSIcon from "./Icons/CSSIcon.astro";
import JavascriptIcon from "./Icons/JavascriptIcon.astro";
import NodeIcon from "./Icons/NodeIcon.astro";
import ExpressIcon from "./Icons/ExpressIcon.astro";
import FlaskIcon from "./Icons/FlaskIcon.astro";
import PythonIcon from "./Icons/PythonIcon.astro";
import MongoIcon from "./Icons/MongoIcon.astro";
import SQLIcon from "./Icons/SQLIcon.astro";
import JSONIcon from "./Icons/JsonIcon.astro";
import GitIcon from "./Icons/GitIcon.astro";
import TeamIcon from "./Icons/TeamIcon.astro";
import DetailIcon from "./Icons/DetailIcon.astro";
import CreativeIcon from "./Icons/CreativeIcon.astro";
import FastIcon from "./Icons/FastIcon.astro";
import KnowledgeIcon from "./Icons/KnowledgeIcon.astro";
import BilingualIcon from "./Icons/BilingualIcon.astro";
---

<section id="skills-section">
<div id="skills" class="skills-container bg-bg flex items-center gap-y-20 flex-col mb-50">
  <div class="titles-container skillTitleContainer text-txt flex items-center gap-3">
    <SkillsIcon class="icons3 w-20 h-20"/>
  <h1 class="section-title text-span text-5xl font-bold">SKILLS</h1>
</div>
  <div class="skills-options flex flex-col items-center gap-y-15">
    <h2 class="skills2title text-txt text-4xl">technologies I have worked with</h2>
    <div class="skills-details flex flex-col items-center text-center mb-30">
      <h3 class="skills-titles text-2nd text-3xl mb-25 font-bold">FRONTEND</h3>
      <div class="skills-content grid grid-cols-3 gap-20 justify-items-center">
        <div class="grid-item flex flex-col gap-y-5">
          <ReactIcon class="icons w-20 h-20"/>
         
          <h4 class="skill-title text-txt text-2xl">React</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <AstroIcon class="icons w-20 h-20 text-txt"/>
          <h4 class="skill-title text-txt text-2xl ">Astro</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
         <TailwindIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">Tailwind</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <HTMLIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">HTML</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <CSSIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">CSS</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <JavascriptIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">JavaScript</h4>
        </div>
      </div>
    </div>

    <div class="skills-details flex flex-col items-center text-center mb-30">
      <h3 class="skills-titles text-2nd text-3xl mb-25 font-bold">BACKEND</h3>
      <div class="skills-content grid grid-cols-2 gap-20 justify-items-center">
        <div class="grid-item flex flex-col gap-y-5">
          <NodeIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">Node</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <ExpressIcon class="icons w-20 h-20 text-txt"/>
          <h4 class="skill-title text-txt text-2xl">Express</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <FlaskIcon class="icons w-20 h-20 text-txt"/>  
          <h4 class="skill-title text-txt text-2xl">Flask</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <PythonIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">Python</h4>
        </div>
      </div>
    </div>

    <div class="skills-details flex flex-col items-center text-center mb-30">
      <h3 class="skills-titles text-2nd text-3xl mb-25 font-bold">DATA BASES</h3>
      <div class="skills-content grid grid-cols-2 gap-20 justify-items-center">
        <div class="grid-item flex flex-col gap-y-5">
          <MongoIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">MongoDB</h4>
        </div>
        <div class="grid-item flex flex-col gap-y-5">
          <SQLIcon class="icons w-20 h-20"/>
          <h4 class="skill-title text-txt text-2xl">SQLite</h4>
        </div>
      </div>
      </div>

    <div>
      <div class="skills-details flex flex-col items-center text-center mb-30">
        <h3 class="skills-titles text-2nd text-3xl mb-25 font-bold">TOOLS</h3>
        <div class="skills-content grid grid-cols-2 gap-20 justify-items-center">
          <div class="grid-item flex flex-col gap-y-5">
            <JSONIcon class="icons w-20 h-20 text-txt"/>
            <h4 class="skill-title text-txt text-2xl">JSON</h4>
          </div>
          <div class="grid-item flex flex-col gap-y-5">
            <GitIcon class="icons w-20 h-20"/>
            <h4 class="skill-title text-txt text-2xl">GIT</h4>
          </div>
        </div>
      </div>
    </div>


    <div class="skills-details container flex flex-col items-center gap-y-15">
      <h2 class="section-title text-span text-5xl font-bold mb-25 ">PERSONAL SKILLS</h2>
      <div class="skills-content2 grid grid-cols-3 gap-20 md:gap-10 md:w-[50rem]">
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt ">
          <DetailIcon class="icons h-30 w-30 text-txt" />
          <h3 class="skill-title text-2xl text-txt">Attention to Detail</h3>
          <p class="p-skills-txt">
            Meticulous in coding and debugging, ensuring high-quality,
            error-free work.
          </p>
        </div>
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt">
          <CreativeIcon color1="var(--color-txt)" color2="var(--color-background)" class="icons h-30 w-30" />
          <h3 class="skill-title text-2xl text-txt">Creative</h3>
          <p class="p-skills-txt">
            Strong analytical skills from gaming, solving coding challenges
            effectively.
          </p>
        </div>
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt">
          <FastIcon class="icons h-30 w-30 text-txt" />
          <h3 class="skill-title text-2xl text-txt">Fast adapting and learning</h3>
          <p class="p-skills-txt">
            Quick to learn new tech and concepts, adapting fast to project needs
          </p>
        </div>
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt">
          <KnowledgeIcon class="icons h-30 w-30 text-txt" />
          <h3 class="skill-title text-2xl text-txt">knowledge lover</h3>
          <p class="p-skills-txt">Passionate about learning and staying current with tech trends.</p>
        </div>
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt">
          <TeamIcon class="icons h-30 w-30 text-txt" />
          <h3 class="skill-title text-2xl text-txt text-center">good working with teams</h3>
          <p class="p-skills-txt">
            Adaptable team player, thriving in group settings with strong
            communication.
          </p>
        </div>
        <div class="grid-item flex gap-3 flex-col items-center text-center text-txt">
          <BilingualIcon class="icons h-30 w-30 text-txt" />
          <h3 class="skill-title text-2xl text-txt">bilingual</h3>
          <p class="p-skills-txt">
            Native Spanish speaker, fluent in written English, and advanced in
            spoken English. I communicate clearly across teams.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>