---

---

<div class="bg-bg flex items-center gap-y-20 flex-col mb-50">
  <h1 class="text-txt text-5xl font-bold">SKILLS</h1>
  <div class="flex flex-col items-center gap-y-15">
    <h2 class="text-txt text-4xl">technologies I have worked with</h2>
    <div class="flex flex-col items-center text-center mb-30">
      <h3 class="text-txt text-3xl mb-25 font-bold">FRONTEND</h3>
      <div class="grid grid-cols-3 gap-20 justify-items-center">

        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="react" src="React-icon.svg.png" />
            <h4 class="text-txt text-2xl">React</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="astro" src="astro-seeklogo.png" />
            <h4 class="text-txt text-2xl">Astro</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="Tailwind" src="Tailwind_icon.png" />
            <h4 class="text-txt text-2xl">Tailwind</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30" alt="html" src="html-icon.svg" />
            <h4 class="text-txt text-2xl">HTML</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="css" src="CSS3_logo.png" />
            <h4 class="text-txt text-2xl">CSS</h4>
        </div>
        <div class="flex flex-col gap-y-5">
            <img class="h-30 " alt="javascript" src="javascript-icon.svg" />
            <h4 class="text-txt text-2xl">JavaScript</h4>
        </div>
      
    </div>
    </div>
    <div class="flex flex-col items-center text-center mb-30">
        <h3 class="text-txt text-3xl mb-25 font-bold">BACKEND</h3>
        <div class="grid grid-cols-2 gap-20 justify-items-center">
  
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Node" src="node-icon.png" />
              <h4 class="text-txt text-2xl">Node</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Express" src="express-js.png" />
              <h4 class="text-txt text-2xl">Express</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="Flask" src="Flask.svg" />
              <h4 class="text-txt text-2xl">Flask</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30" alt="Python" src="Python-logo.png" />
              <h4 class="text-txt text-2xl">Python</h4>
          </div>    
      </div>
      </div>
      <div class="flex flex-col items-center text-center mb-30">
        <h3 class="text-txt text-3xl mb-25 font-bold">DATA BASES</h3>
        <div class="grid grid-cols-2 gap-20 justify-items-center">
  
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="MongoDB" src="mongodb.svg" />
              <h4 class="text-txt text-2xl">MongoDB</h4>
          </div>
          <div class="flex flex-col gap-y-5">
              <img class="h-30 " alt="SQL" src="sql-logo.svg" />
              <h4 class="text-txt text-2xl">SQL</h4>
          </div>

      </div>
      </div>
  </div>
  <div class="container flex flex-col items-center gap-y-15">
    <h2 class="text-txt text-5xl font-bold mb-25">
        PERSONAL SKILLS
    </h2>
    <div class="grid grid-cols-3 gap-20">
        <div class="flex gap-3 flex-col items-center text-center text-txt">
            <img class="h-30 w-30 text-txt" alt="pending" src="details.png"/>
            <h3 class="text-2xl text-txt">Attention to Detail</h3>
            <p class="text-txt">Meticulous in coding and debugging, ensuring high-quality, error-free work.</p>
        </div>
        <div class="flex gap-3 flex-col items-center text-center text-txt ">
            <img class="h-30 w-30" alt="Creative" src="brain.png"/>
            <h3 class="text-2xl text-txt">Creative</h3>
            <p>Strong analytical skills from gaming, solving coding challenges effectively.</p>
        </div>
        <div class="flex gap-3 flex-col items-center text-center text-txt">
            <img class="h-30 w-30" alt="Fast learner" src="flash.png"/>
            <h3 class="text-2xl text-txt">Fast adapting and learning</h3>
            <p>Quick to learn new tech and concepts, adapting fast to project needs</p>
        </div>
        <div class="flex gap-3 flex-col items-center text-center text-txt">
            <img class="h-30 w-30" alt="love knowledge" src="glasses.png"/>
            <h3 class="text-2xl text-txt">knowledge lover</h3>
            <p>Passionate about learning and staying current with tech trends.</p>
        </div>
        <div class="flex gap-3 flex-col items-center text-center text-txt ">
            <img class="h-30 w-30" alt="good teammate" src="people.png"/>
            <h3 class="text-2xl text-txt text-center">good working with teams</h3>
            <p>Adaptable team player, thriving in group settings with strong communication.</p>
        </div>
        <div class="flex gap-3 flex-col items-center text-center text-txt">
            <img class="h-30 w-30" alt="bilingual" src="translator.png"/>
            <h3 class="text-2xl text-txt">bilingual</h3>
            <p>Native Spanish speaker, fluent in written English, and advanced in spoken English. I communicate clearly across teams.</p>
        </div>
    </div>

  </div>
</div >
