---
const { modoInicial } = Astro.props;
---
<section id="about-me-section">
<div id="about-me" class="container bg-background mx-auto w-full h-full mt-50 mb-50">
  <div class="flex mb-20 items-center text-txt gap-3">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="60" height="60" stroke-width="1.5"> <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path> <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path> </svg> 
    <h2 class="text-txt text-5xl text-center font-bold">SOFTWARE DEVELOPER JOURNEY</h2>
  </div>
    <div class="relative wrap overflow-hidden p-10 h-full">
      <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border" style="left: 50%"></div>
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-bg2 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-txt">1</h1>
        </div>
        <div class="order-1 bg-bg1 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-txt text-xl">A Turning Point</h3>
          <p class="text-md leading-snug tracking-wide text-txt text-opacity-100">In late 2022, I worked at a stagnant job with limited growth. Realizing I craved more, I stumbled upon software development. <span class="text-span">Its endless possibilities captivated me,</span> here was a world where skills could grow infinitely. Inspired, I sought mentors and began my journey, eager to turn my passion into a career.</p>
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-bg2 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-txt font-semibold text-lg">2</h1>
        </div>
        <div class="order-1 bg-bg2 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-txt text-xl">Learning the Craft</h3>
          <p class="text-md font-medium leading-snug tracking-wide text-txt text-opacity-100">With guidance from experienced developers, I crafted a structured learning path. I tackled courses from various platforms, <span class="text-span">mastering the fundamentals repeatedly</span>. As a lifelong gamer, I saw coding challenges as epic boss battles and problems as puzzles to solve fueling my determination to level up my skills.</p>
        </div>
      </div>
      
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-bg2 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-txt">3</h1>
        </div>
        <div class="order-1 bg-bg1 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-txt text-xl">Full-Time Pursuit</h3>
          <p class="text-md leading-snug tracking-wide text-txt text-opacity-80">By late 2023, I left my job to study software development full-time</span>. I built small projects to apply my knowledge, but I hungered for more. I enrolled in Codecademy and <span class="text-span">completed Harvard's CS50x Computer Science course</span>, earning a <a href="https://cs50.harvard.edu/certificates/5c93c8a7-92a2-4e23-9980-67fe32de04d3" target="_blank" class="text-spanLink">certificate</a> that boosted my confidence in programming.</p>
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-bg2 shadow-xl w-8 h-8 rounded-full">
          <h1 class="mx-auto text-txt font-semibold text-lg">4</h1>
        </div>
        <div class="order-1 bg-bg2 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-txt text-xl">Ready for the Future</h3>
          <p class="text-md font-medium leading-snug tracking-wide text-txt text-opacity-100">
            By late 2024, I felt ready to enter the industry. Today, <span class="text-span">I focus on creating projects, exploring new technologies, and freelancing</span>. Each line of code is a step toward my goal building a career where I can continue to grow, innovate, and conquer new challenges.</p>
        </div>
      </div>
    </div>
  </div>
</section>