---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/Logo2.svg" />
    <link rel="icon" type="image/png" href="/Logo1.webp" />
    <title>{title}</title>
    <meta
      name="description"
      content="Mauricio Palacio Dev - Software developer portfolio"
    />
    <meta name="author" content="Mauricio Palacio" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-realbackground);
  }
</style>
